/* CSS Variable */
:root {
  --cloud: #f4f4fd;
  --cornflower: #f4f4fd;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --rgb: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* LOGO */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.logo {
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}

/* Header */

.nav-menu .page {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.2em;
}

/* HERO */
.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
}

.button.primary {
  color: var(--white);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: var(--rgb);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}

.bg-hero {
  background-color: var(--navyblue);
}

/* Section 1 */
.benefits .title {
  color: var(--navyblue);
  line-height: 20px;
  letter-spacing: 0.4px;
}

.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

/* Section 2 */
.section-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section 3 */
.bg-team {
  background: var(--cloud);
}

.team.list li {
  background-color: var(--white);
}

/* BUTTON */

.button {
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter:current {
  background-color: var(--ocean);
  color: var(--cloud);
}
.button.filter.current {
  background: var(--ocean);
  color: var(--white);
}

/* PROJECTS */
.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.87;
}

.project {
  text-decoration: none;
}

/* FOOTER*/
.page-footer.bg-footer {
  background-color: var(--navyblue);
}

.studio-2 {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
}

/* Content Section */
.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}
